<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>
            <a th:href="@{/users/{id}/delete(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/user-create">Create New User</a>
</body>
</html>
